html{
  height:100%;
}
body{
  height:100%;
}
.row{
  width:100%;
  height:calc(100% - 123px);
  margin:0;
}
#input, #output{
  height:100%;
}
.tab-content{
  height:100%;
}
.tab-pane{
  height:100%;
}
pre{
  height:100%;
}
textarea{
  height:100%;
}
#script{
  max-width:100%;
  min-height: 400px;
}
#execute{
  position: absolute;
  right: 25px;
  top: 50px;
  z-index: 1;
}
#error-wrapper{
  display: none;
  position: absolute;
  bottom: -50px;
  right: 25px;
  z-index: 1;
}
