html{
  height:100%;
}
body{
  height:100%;
}
.container-fluid{
  height:100%;
}
.row{
  width:100%;
  height:calc(100% - 147px);
  margin:0;
}
.col-md-4{
  height:100%;
}
.panel{
  height:100%;
}
.panel-body{
  padding:0;
  height:calc(100% - 65px);
}
.editbar{
  margin: 0;
  min-height:0;
  padding-left: 0;
}
.form-control{
  padding: 0;
  height:100%;
}
#input, #modifier, #output{
  height:100%;
}
.CodeMirror{
  height:auto;
}
.navbar-btn.btn-xs{
  margin: 0;
  line-height: 1;
  padding: 3px 5px;
}
#input-file, #script-file{
  display:none;
}
#script{
  max-width:100%;
  min-height: 400px;
}
.modal-dialog{
	z-index: 1050;
}
#future { 
  color: orange !important; 
}

#census {
  color: black !important;
}

#future, #census {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
}